<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moyeju">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.moyeju"
        android:hardwareAccelerated="true">
        <activity android:name=".QrActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FimapActivity" />
        <activity android:name=".LmapActivity" />
        <activity android:name=".SmapActivity" />
        <activity android:name=".TmapActivity" />
        <activity android:name=".WarningActivity" />
        <activity android:name=".ReservationActivity" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>